# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_publishable_key_here
CLERK_SECRET_KEY=your_secret_key_here
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/dashboard

# AWS DynamoDB
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1

# Invite Codes (comma-separated)
VALID_INVITE_CODES=ADMIN2025,TECHIE2025,NEET2025

# Admin user emails (comma-separated, for role check)
ADMIN_EMAILS=admin@example.com,superadmin@example.com

# Pipeline Endpoint URL
PIPELINE_ENDPOINT_URL=http://http://103.119.171.58:5003/
